* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Georgia, serif;
  background: #fff;
  color: #222;
}


/* Wrapper */

.wrapper {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
}


/* Navbar */

.navbar {
  margin: 40px 0 80px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

nav a {
  margin-left: 25px;
  text-decoration: none;
  color: #ff3d00;
  font-size: 16px;
}


/* Intro */

.intro {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 80px;

  margin-bottom: 120px;
}

.intro-left h2 {
  font-weight: normal;
  font-size: 28px;
  color: #555;
  margin-bottom: 25px;
}

.identity {
  font-style: italic;
  font-size: 26px;
  color: #222;

  margin-bottom: 40px;
}

.tagline {
  font-style: italic;
  margin-bottom: 35px;
}

.intro-left p {
  line-height: 1.8;
  font-size: 18px;
  margin-bottom: 25px;
}

blockquote {
  border-left: 3px solid #ff3d00;
  padding-left: 15px;
  color: #555;
  font-style: italic;
}


/* Profile */

.intro-right {
  display: flex;
  justify-content: center;
}

.intro-right img {
  width: 220px;
  height: 220px;

  object-fit: cover;
  border-radius: 50%;

  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}


/* Hero */

.hero {
  max-width: 1100px;
  height: 450px;

  margin: 120px auto;

  overflow: hidden;
  border-radius: 4px;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* Sections */

.section {
  max-width: 700px;
  margin: 120px auto;

  font-size: 18px;
  line-height: 1.8;
}

.section h3 {
  font-size: 28px;
  margin-bottom: 30px;
}


/* Projects */

.project-list {
  padding-left: 20px;
}

.project-list li {
  margin-bottom: 25px;
}


/* Footer */

footer {
  margin: 120px 0 60px;

  text-align: center;
  color: #777;
  font-size: 14px;
}


/* Mobile */

@media (max-width: 900px) {

  .intro {
    grid-template-columns: 1fr;
    gap: 40px;
    text-align: center;
  }

  nav {
    display: none;
  }

  .intro-right img {
    width: 180px;
    height: 180px;
  }
}