* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Georgia, serif;
  background: #fff;
  color: #222;
}


/* Navbar */

.navbar {
  max-width: 1100px;
  margin: auto;
  padding: 30px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

nav a {
  margin-left: 25px;
  text-decoration: none;
  color: #ff3d00;
  font-size: 16px;
}


/* Intro Section */

.intro {
  max-width: 1100px;
  margin: 80px auto;
  padding: 20px;

  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 60px;
}

.intro-left h1 {
  font-size: 44px;
  margin-bottom: 5px;
}

.intro-left h2 {
  font-weight: normal;
  color: #666;
  margin-bottom: 20px;
}

.tagline {
  font-style: italic;
  margin-bottom: 30px;
}

.intro-left p {
  line-height: 1.7;
  font-size: 18px;
  margin-bottom: 22px;
}

blockquote {
  border-left: 3px solid #ff3d00;
  padding-left: 15px;
  color: #555;
  font-style: italic;
}


/* Profile */

.intro-right {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.intro-right img {
  width: 220px;
  border-radius: 50%;
}


/* Hero */

.hero {
  width: 100%;
  height: 75vh;
  margin: 100px 0;
  overflow: hidden;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* Sections */

.section {
  max-width: 700px;
  margin: 80px auto;
  padding: 20px;
}

.section h3 {
  font-size: 28px;
  margin-bottom: 25px;
}

.section p {
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 20px;
}


/* Footer */

footer {
  text-align: center;
  padding: 50px 20px;
  color: #777;
  font-size: 14px;
}


/* Mobile */

@media (max-width: 900px) {

  .intro {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .intro-right img {
    width: 180px;
  }

  nav {
    display: none;
  }
}